<%= form_with(model: list, class: "contents") do |form| %>
  <%= render Ui::FormErrorsComponent.new(object: list, id: "error_explanation") %>

  <%= render Ui::FormFieldComponent.new(
    object_name: :list,
    method: :name,
    object: list,
    field_type: :text_field
  ) %>

  <%= render Ui::FormFieldComponent.new(
    object_name: :list,
    method: :description,
    object: list,
    field_type: :text_area,
    rows: 4
  ) %>

  <div class="inline">
    <%= form.submit class: class_names(
      "inline-block font-medium rounded-md cursor-pointer text-center",
      "px-3.5 py-2.5",
      "bg-blue-600 hover:bg-blue-500 text-white",
      "w-full sm:w-auto"
    ) %>
  </div>
<% end %>
