<% content_for :title, "Showing list" %>

<div class="md:w-2/3 w-full">
  <%= render Ui::AlertComponent.new(type: :success, message: notice, id: "notice") %>

  <h1 class="font-bold text-4xl">Showing list</h1>

  <%= render @list %>

  <%= render Ui::ButtonComponent.new(variant: :secondary, full_width_mobile: true, href: edit_list_path(@list)) do %>
    Edit this list
  <% end %>
  <%= render Ui::ButtonComponent.new(variant: :secondary, full_width_mobile: true, href: lists_path, class: "mt-2 sm:mt-0 sm:ml-2") do %>
    Back to lists
  <% end %>
  <%= button_to @list, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", data: { turbo_confirm: "Are you sure?" } do %>
    <%= render Ui::ButtonComponent.new(variant: :danger, full_width_mobile: true) do %>
      Destroy this list
    <% end %>
  <% end %>
</div>
